
@font-face {
    font-family: Asap;
    font-style: normal;
    font-weight: 500;
     src: url("assets/fonts/Asap-VariableFont_wdth,wght.ttf");
     font-display: swap;
   }



a {
	position: relative;
    text-decoration: none;
	color: #7e5b59;
	cursor: pointer;
	line-height: 1; 
	text-decoration: none; 
    font-weight: bold;
    padding-top: 20px;

}


a:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 2px; 
	background-color: #c9b0a8; 
	content: "";
	transition: width 0.3s ease-out; 
}

a:hover:after,
a:focus:after {
	width: 100%; 
}

.nav a:hover {
    text-decoration: none;
    color:#c9b0a8;
  }
    

      header h3 {
        padding-left: 40px;
        font-size: 18px;
        line-height: 50px;
        color: #c49f81; 
      }

.active {
  color: #c9b0a8;
}
 



.nav {
    display: flex;
    position: fixed;
    top: 0; /* Зафиксировать навигацию наверху */
    left: 0;
    right: 0; /* Вместо фиксированной ширины */
    background-color: #f9ece4;
    border-bottom: 2px solid #c9a68952;
    width: 100%; /* Адаптивная ширина */
    height: 100px;
    max-width: inherit; /* Максимальная ширина, если требуется */
    margin: 0 auto; /* Центрирование */
    flex-direction: row;
    justify-content: flex-end;
    z-index: 1000; /* Чтобы навигация была над остальным содержимым */
    padding: 10px 80px; /* Внутренний отступ для навигации */
  }

      .nav img {
        margin-top: 25px;
        margin-left: 50px;
      }

.language {
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 0px;
    
  }
    
      

     
