

/* Основные стили для гамбургер-меню */
.menu-toggle {
  display: none;
  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  padding-left: 20px;
  padding-top: 10px;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #7e5b59;
  margin: 4px 0;
  transition: 0.3s;
}

/* Стиль для навигационного меню */
.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; /* Убедитесь, что меню занимает ровно 100% ширины экрана */
  z-index: 999; /* Зафиксируйте меню наверху всех остальных элементов */
  justify-content: space-between;
  align-items: center;
  background-color: #f9ece4;
  padding: 10px 20px;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
  transform: none;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 10px;
}

.active {
 
  color: #949090;
  font-weight: bold;
  padding: 10px 20px;
  text-decoration: none;
  display: block;

}



.nav a {
  text-decoration: none;
  color: #7e5b59;
  font-weight: bold;
  padding: 10px 20px;
  display: block;
}

.nav a:hover {
  background-color: #9e8177;
  color: #fff;
}

.language {
  margin-left: auto;
  
}

@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 10px;
    height: auto;
    width: 100%;
    background-color: #f9ece4;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .language img {
    align-items: center;
    

  }
  .nav.active {
    transform: translateX(0);
  }

  .nav ul {
    flex-direction: column;
  }

  .nav li {
    margin: 20px 0;
  }

  .hamburger.bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .hamburger.bar2 {
    opacity: 0;
  }

  .hamburger.bar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
