

@font-face { 
  font-family: Asap;
  font-weight: 800;
  src: url("assets/fonts/Asap-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  src: url("assets/fonts/Roboto-Regular.ttf");
  font-display: swap;
}

header {
  margin-bottom: 0; /* Уменьшает отступ внизу */
  padding-bottom: 0; /* Уменьшает внутренний отступ внизу */
}


body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9ece4;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Убирает горизонтальный скролл на мобильных устройствах */
}

*, *::before, *::after {
  box-sizing: inherit;
}


img {
  max-width: 100%;
  height: auto;
  display: block;
}

.welcome {
  display: flex;
  justify-content: space-between;
  padding: 100px 0 20px 0;
}

.left-column {
  display: flex;
  margin: 0;
  width: 45%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

.right-column {
  display: flex;
  flex-direction: column;
  width: 55%;
}

@media (max-width: 768px) {
  .welcome {
    flex-direction: column;
    padding: 20px;
  }

  .left-column, .right-column {
    width: 100%;
  }

  .icons {
    flex-direction: column;
    align-items: center;
  }

  .icons img {
    margin: 10px 0;
  }
}

.left-column img,
.right-column img {
  max-width: 100%;
  height: auto;
}

.right-column h1 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  text-align: center;   
  font-size: 38px;
  color: #7e5b59;
}

.right-column p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #68594d;
  text-align: center;
  line-height: 35px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}




.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.content h1 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  text-align: center;   
  font-size: 38px;
  color: #7e5b59;
}

.content p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #68594d;
  text-align: center;
  line-height: 35px;
}






.button a {
  display: inline-block;
  border-radius: 10px;
  background-color: #c49f81;
  padding: 15px 45px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icons img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
}

.icons-column {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  text-align: center;
}

.icons-item {
  display: inline-block;
  position: relative;
  padding-bottom: 15px;
}

.icons-item img {
  margin-left: -370px;
}

.icons-item p {
  position: absolute;
  margin-top: -50px;
  margin-left: 200px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #68594d;
}
